h3{
    color: rgb(46, 161, 90);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.p-tag{
    color: rgb(47, 10, 214);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

#king_of_fruits{
    color: goldenrod;
}